<template>
  <div>
    <input type="text" v-model="search" placeholder="Search" @input="resetPagination">
    <table>
      <thead>
        <tr>
          <th v-for="key in tableHeaders" :key="key" @click="sortData(key)">
            {{ key }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="person in paginatedData" :key="person.email">
          <td v-for="value in Object.values(person)" :key="value">
            {{ value }}
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <button @click="previousPage" :disabled="currentPage === 1">Previous</button>
      <button @click="nextPage" :disabled="currentPage === totalPages">Next</button>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      data: [],
      displayedData: [],
      currentPage: 1,
      itemsPerPage: 10,
      search: "",
      sortColumn: "",
      sortDirection: 1,
      tableHeaders: [
        "name",
        "email",
        'gender',
        'location'
      ],
    };
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      axios
        .get("https://randomuser.me/api/?results=50")
        .then((response) => {
          this.data = response.data.results;
          this.flattenData();
          this.sortData("name"); // Sort by name by default
        })
        .catch((error) => {
          console.error(error);
        });
    },
    flattenData() {
      this.displayedData = this.data.map((person) => {
        return {
          name: person.name.title + person.name.first + " " + person.name.last,
          email: person.email,
          gender: person.gender,
          location: person.location.street.number + ',' + person.location.street.name + ',' + person.location.city + ',' + person.location.state + ',' + person.location.country
        };
      });
    },
    sortData(column) {
      if (this.sortColumn === column) {
        this.sortDirection *= -1;
      } else {
        this.sortColumn = column;
        this.sortDirection = 1;
      }
      this.displayedData.sort((a, b) => {
        const valueA = a[column];
        const valueB = b[column];
        if (valueA < valueB) {
          return -1 * this.sortDirection;
        }
        if (valueA > valueB) {
          return 1 * this.sortDirection;
        }
        return 0;
      });
    },
    resetPagination() {
      this.currentPage = 1;
    },
    previousPage() {
      if (this.currentPage > 1) {
        this.currentPage--;
      }
    },
    nextPage() {
      if (this.currentPage < this.totalPages) {
        this.currentPage++;
      }
    },
  },
  computed: {
    totalPages() {
      return Math.ceil(this.filteredData.length / this.itemsPerPage);
    },
    paginatedData() {
      const startIndex = (this.currentPage - 1) * this.itemsPerPage;
      const endIndex = startIndex + this.itemsPerPage;
      return this.filteredData.slice(startIndex, endIndex);
    },
    filteredData() {
      return this.displayedData.filter((person) => {
        return (
          person.name.toLowerCase().includes(this.search.toLowerCase()) ||
          person.email.toLowerCase().includes(this.search.toLowerCase()) ||
              person.location.toLowerCase().includes(this.search.toLowerCase())
          // Add other desired search conditions here
        );
      });
    },
  },
};
</script>
